@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/hly6hrs.css");

html,
body {
    scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
    transition: 0.6s width ease-out;
}

@layer base {
    .btn {
        @apply !capitalize;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: "scale-variable", sans-serif;
}